Babel==2.3.4
cffi==1.9.1
cryptography==1.7.2
Django==1.10.6
django-ckeditor==5.1.1
django-phonenumber-field==1.1.0
idna==2.2
jwt==0.3.2
olefile==0.44
phonenumberslite==8.0.0
Pillow==3.4.2
psycopg2==2.6.2
pyasn1==0.2.2
pycparser==2.17
pycrypto==2.6.1
PyJWT==1.4.2
python-dateutil==2.6.0
python-magic==0.4.12
pytz==2016.10
redis==2.10.5
simplejson==3.10.0
six==1.10.0
sockjs-tornado==1.0.3
SwampDragon==0.4.2.2
tornado==4.4.2
tornado-redis==2.4.18
XlsxWriter==0.7.3
